Unit]
Description=journalbeat
After=syslog.target network.target remote-fs.target nss-lookup.target

[Service]
Type=simple
EnvironmentFile=/etc/journalbeat.default
WorkingDirectory=/usr/local/journalbeat
ExecStart=/usr/local/journalbeat/bin/journalbeat -e -c ${JOURNAL_BEAT_CONFIG_FILE}
Restart=on-failure
LimitNOFILE=10000

[Install]
WantedBy=multi-user.target
