Package: journalbeat
Version: 0.0.1ubuntu1
Architecture: amd64
Maintainer: ”jusanng” <”jusanng@cotahealthcare.com”>
Installed-Size: 11961
Depends: libsystemd-dev
Section: admin
Priority: optional
Homepage: https://github.com/mheese/journalbeat
Description: elastic beat for journalctl -f
